<form id='event-form' class='needs-validation col-xl-8 col-lg-8 col-md-10 col-sm-12' novalidate>
  <!-- user info -->
  <div class='user'>
    <!-- name -->
    <div class='form-group'>
      <div class='input-group'>
        <i class='material-icons left-icon'>person_outline</i>
        <input type='text' name='first_name' class='form-control col-3' placeholder='First name' value='<% if(locals.formData){ %><%= formData[0].first_name %><% } %>'
          required>
        <input type='text' name='last_name' class='form-control col-3' placeholder='Last name' value='<% if(locals.formData){ %><%= formData[0].last_name %><% } %>'
          required>
        <div class='invalid-feedback'>
          Please provide your first and last names.
        </div>
      </div>
    </div>
    <!-- email -->
    <div class='form-group'>
      <div class='input-group'>
        <i class='material-icons left-icon'>alternate_email</i>
        <input type='email' name='email' class='form-control col-5' placeholder='Email' value='<% if(locals.formData){ %><%= formData[0].email %><% } %>'
          required>
        <div class='invalid-feedback'>
          Please provide a valid email.
        </div>
      </div>
    </div>
  </div>
  <!-- user info end -->
  <hr>
  <!-- event -->
  <div class='event'>
    <!-- event title -->
    <div class='form-group'>
      <div class='input-group'>
        <i class='material-icons left-icon'>title</i>
        <input type='text' name='title' class='form-control' placeholder='Enter title (i.e. What movie to watch?)' value='<% if(locals.formData){ %><%= formData[0].title %><% } %>'
          required>
        <div class='invalid-feedback'>
          Please provide an event title.
        </div>
      </div>
    </div>
    <!-- title description -->
    <div class='form-group'>
      <div class='input-group'>
        <i class='material-icons left-icon'>subject</i>
        <textarea name='description' class='form-control' placeholder='Add description' value='<% if(locals.formData){ %><%= formData[0].description %><% } %>'></textarea>
      </div>
    </div>
  </div>
  <!-- event end -->
  <hr>
  <!-- option -->
  <div class='option'>
    <% if(locals.formData){ %>
      <!-- if formData exists, loop through the array and display all options -->
      <% formData.forEach(option => { %>
            <%- include('_option_form', { option: option }) %>
              <% }); %>
      <% }else{ %>
        <!-- if formData doesn't exist, display the default empty option div -->
        <%- include('_option_form') %>
          <% } %>
  </div>
  <!-- option end -->
  <div class='form-group'>
    <input type='submit' class='btn btn-primary' value='SUBMIT'>
  </div>
</form>