<%
// user information
const {first_name, last_name, created_at} = poll.eventRecord[0];

// event information
const {title, description} = poll.eventRecord[0];
%>

    <div class="container">
      <h1>
        <strong>
          <%=title %>
        </strong>
      </h1>
      <h3>
        <%=description%>
      </h3>
      <p>
        <% first_name + last_name %>
      </p>
      <p>
        <%=created_at %>
      </p>
    </div>
    <form action="">
      <table class="table table-bordered shadow">
        <thead>
          <tr>
            <th scope="col" class="table-success">&nbsp;</th>
            <th scope="col" class="table-success">Option</th>
            <th scope="col" class="table-success">Date</th>
            <th scope="col" class="table-success">Time</th>
            <th scope="col" class="table-success">Attendees</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < poll.eventRecord.length; i++) {
        let {name, start_time} = poll.eventRecord[i];
      %>
      <%- JSON.stringify(poll.voterCounts) %>
            <tr>
              <th scope="row" class="text-left">
                <input type="checkbox" name="option1">
              </th>
              <td>
                <%=name%>
              </td>
              <td>
                <%=start_time%>
              </td>
              <td>
                <%=start_time%>
              </td>
              <td>SW, BK, GV and +7</td>

            </tr>
            <% } %>
        </tbody>
      </table>
    </form>
    <input type="submit" id="sendVote" class="btn btn-primary" value='VOTE'>

    <p></p>